*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ===========
GENERAL
=========== */
html{
  --black: #1A1A1A;
  --purple1: #7D449A;
  --purple2: #8751A0;
  --purple3: #9256A3;
  --purple4: #A671B0;
  --green: #5DAF66;
  --white: #f5f5f5;
  background: var(--black);
  color: var(--white)
}

body{
  padding: 0 8px;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header, footer{
  padding: 16px;
  max-width: 960px;
  margin: 0 auto;
}

header .logo{
  display: block;
  max-width: 330px;
  width: 100%;
  position: relative;
  right: 8px;
  margin: 0 auto;
}

header nav{
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  padding: 16px 0;
}
header nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
  font-weight: bold;
  width: 100%;
  max-width: 350px;
  justify-content: center;
}
header nav ul a{
  color: var(--white);
  text-decoration: none;
  padding-bottom: 2px;
  opacity: .7;
  border-bottom: 2px solid var(--black);
  transition: all .6s ease;
}
header nav ul a:hover{
  opacity: 1;
}

header nav .active{
  pointer-events: none;
  opacity: 1;
  border-color: var(--purple4)

}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}


/* ===========
VENUES
=========== */

.Venues{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.Venues .venue, .Venues .venue a{
  display: block;
  position: relative;
  max-width: 309px;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 16px; 
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  border: 1px solid var(--purple4);
  background-size: cover;
  opacity: .75;
  border: 1px solid var(--black);
  transition: all .6s ease;
}

.Venues .venue:hover, .Venues .venue a:hover{
  opacity: 1;
  border-color: var(--purple4);
}

.Venues .venue img{
  width: 100%;
}

.Venues .venue .info{
  position: absolute;
  top:45%;
  width: 100%;
  background: var(--black);
  padding: 8px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  transition: all .6s ease;
}

.Venues .venue:hover .info{
  background: var(--purple4);
  color: var(--black);
}


/* ===========
SHOWS
=========== */

.show{
  border-radius: 8px;
  border: 1px solid var(--purple4);
  overflow: hidden;
  margin-bottom: 16px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
}

.show .showDate{
  color: var(--purple4);
  border-bottom: 1px solid var(--purple4);
  padding: 8px;
}

.show .showInfo{
  display: flex;
}

.show .showThumbnail{
  width: 104px;
  height: 104px;
  background-size: cover;
  background-position: center;
}

.show .showInfo .infoBody{
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show .showInfo .infoBody a{
  color: var(--white);
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--purple4);
  transition: all .6s ease;
}

.show .showInfo .infoBody a:hover{
  border-color: var(--white);
}

.show .showInfo .btn-container{
  display: flex;
  justify-content: flex-end;
}

.show .showInfo .btn-container .btn{
  display: inline-block;
  background: var(--green);
  color: var(--black);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.show .showInfo .btn-container .btn:hover{
  background: var(--black);
  color: var(--green);
}


footer .affiliates{
  display: flex;
  gap: 16px;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  
}

footer .affiliates img{
  width: 24px;
  position: relative;
  bottom: 0;
  transition: all .6s ease;
}

footer .affiliates img:hover{
  bottom: 8px;
}

footer .footerInfo{
  padding-top: 16px;
}

